* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.header-container {
  display: flex;
  justify-content: space-between;
  background-color: lawngreen;
  padding: 10px;
  align-items: center;  
}

.container-logotipo {
  display: flex;
  gap: 8px;
}

.img-logotipo {
  border-radius: 50%;
}

.title-header {
  font-weight: 700;
  font-style: italic;
  border-bottom: 5px ridge black;  
}

.nav-home-links {
  display: flex;
  align-items: center; 
  gap: 10px;
}

.link-header {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: rgb(0, 0, 0);
  margin-right: 40px;
  opacity: 0.8;    
}

.link-header:hover {
  border-bottom: 6px solid rgb(0, 0, 0);
  opacity: 1;
  transition: all 600ms ease-in-out;
}

.link-header:hover {
  opacity: 1;  
} 

.container-image {    
  margin-top: 50px;
  position: relative;
  padding: 12px;
  max-width: 800px; 
  border: 5px solid lawngreen;   
  border-radius: 5px;     
}

.galery-wrap {
  padding: 5px;
  overflow-x: auto; 
 }

.galery-wrap::-webkit-scrollbar{
  background-color: transparent;
  border: none;
  border-radius: 5px;    
}

.galery-wrap::-webkit-scrollbar-thumb {
  background-color: lawngreen;
  border-radius: 5px;
  padding: 1px;  
}

.galery {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
}

.item {
  width: 800px;  
}

.container-main-home {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url('http://www.paginasiniciais.com.br/img/temas/arte_e_fantasia/floresta_verde.jpg');
}

.home-section {
  margin-bottom: 50px; 
}

.footer-container {
  background-color: lawngreen;
  width: 100%;
  text-align: center;
  padding: 5px;
  color: black;
  font-weight: 700;  
}

.form-login {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 86.5vh;  
  background-color: rgb(107, 148, 45);
}

.title-form-login {
  margin-bottom: 50px;  
}

.input-form {
  display: flex;
  gap: 15px; 
  margin-top: 25px;
  align-items: center;
}

.class-input {
  border: none;
  border: 5px double green;
  padding: 3px;
  border-radius: 5px;
}

.label-inputs {
  font-weight: 700;
  font-style: italic;  
}

.container-btn-login {
  margin-top: 35px;  
}

.btn-login {
  border: none;
  border: 5px double green;  
  font-style: italic;
  font-weight: 800;
  padding: 5px;
  opacity: 0.9;
  border-radius: 10px;
}

.btn-login:hover {
  cursor: pointer;
  opacity: 1;
}

.form-register {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 86.5vh;  
  background-color: rgb(107, 148, 45);
  height: 110vh;
}

.infos-register {
  display: flex;
  gap: 15px; 
  margin-top: 25px;
  align-items: center;  
  border: 3.3px double lawngreen;  
  padding: 3px; 
  border-radius: 8px;
}

.input-container {
  display: flex;
}

.input-register {
  border:  none;
  border: 5px double green;
  border-radius: 7px;
  padding: 2.8px;
}

.label-register {
  font-weight: 700;
  font-style: italic;  
}

.label-checkbox {
  display: flex;
  gap: 5.5px;  
}

.img-contact {
  width: 60px;
  height: 60px;
  border-radius: 50%; 
}

.div-contact {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  height: 120vh;
  justify-content: center;
  background-size: cover;
  background-image: url('https://img.freepik.com/fotos-gratis/o-verde-e-o-verde-claro-desfocam-o-fundo-gradiente_1258-83067.jpg?w=2000');
}

.rede {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: x-large;  
  border: 3px dotted white;
  padding: 3px;
}

.rede:hover {
  cursor: pointer;
  opacity: 1; 
  border-bottom: 2px solid rgb(0, 0, 0); 
  transition: all 600ms ease-in-out;
}

.listItem {
  margin-top: 25px;  
}

.div-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-contact {
  font-size: xxx-large;
  font-style: italic;
  font-weight: 700;
  margin-bottom: 25px;
  border: 3px double black;
  padding: 3px;
}

.title-contact-links{
  margin-top: 45px;
  font-weight: 700;
  font-size: xx-large;
  border: 4px double black;
  padding: 3px;
}

textarea {
  border: none;
  border: 4px double black;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
}

.section-contact {
  display: flex;
  gap: 55px;
  margin-top: 15px;
}

.btn-contact {
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 10px;
  border: none;
  border: 4px double white;
  width: 100px;
  font-weight: 800;
}

.btn-contact:hover {
  cursor: pointer;
  color: black;
  background-color: white;
  border: 4px double black;
  font-weight: 800;
}

.form-contact {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.container-contact-infos {
  display: flex;
  gap: 15px;
  align-items: center;
}

.name-contact {
  border: none;
  border: 3px double black;
  padding: 4px;
  border-radius: 8px;
}

.email-contact {
  border: none;
  border: 3px double black;
  padding: 4px;
  border-radius: 8px;
}

.label-contact {
  font-weight: 700;
  font-style: italic;
  font-size: 18px;
  border-bottom: 3px solid white;
  border-top: 3px solid white;
  
}

.subtitle-contact {
  margin-top: 20px;
}

.label-radio {
  display: flex;
  gap: 8px;
}

.container-error404 {
  width: 100%;
  height: 100vh;  
  background-size: contain;
  background-image: url('https://scriptcerto.com.br/blogwordpress/wp-content/uploads/2017/05/Como-Resolver-Posts-Retornando-Erro-404-no-WordPress.png');
}

.title-404 {
  text-align: center;
  padding: 15px 0;
  color: white;
  border-bottom: 5px double white;
}